<div *ngIf="auth.user | async as user">
  <div class="container row" style="font-family: 'Arial, sans-serif'">

    <p class="center-align">Here you can create boards, then you can create lists and inside these
      lists you can create notes. The notes can be dropped and draged from one list into the other.
    </p>
    <input class="col s7 left" type="text" placeholder="What is the title of your new board?" #boardTitle>
    <select class="browser-default validate col s4 right" #boardColor>
      <option value="" disabled selected>Add a color</option>
      <option class="red" value="red">Red</option>
      <option class="pink" value="pink">Pink</option>
      <option class="cyan" value="cyan">Cyan</option>
      <option class="teal" value="teal">Teal</option>
      <option class="blue" value="blue">Blue</option>
      <option class="indigo" value="indigo">Indigo</option>
      <option class="purple" value="purple">Purple</option>
      <option class="green" value="green">Green</option>
      <option class="lime" value="lime">Lime</option>
      <option class="yellow" value="yellow">Yellow</option>
      <option class="amber" value="amber">Amber</option>
      <option class="orange" value="orange">Orange</option>
      <option class="white" value="white">White</option>
    </select>

    <button class="btn blue"
      (click)="addBoard(boardTitle.value, boardColor.value, this.user.uid); boardTitle.value=''; boardColor.value=''">Add
      a new Board</button>

    <div class="row col s8 m10" style="position: absolute; margin: 0 auto;padding-left: 5.2% ">
      <div id="dashboard" *ngFor="let board of boards" routerLink="/lists/{{board.id}}" class="card {{board.color}} col row s3 hoverable">
        <h5 class="boardTitle" style="white-space: nowrap; overflow: hidden; font-size:1.5em;font-family: 'Segoe Print'">{{board.title}}</h5>
        <br><br>
        <div class="card-action">
          <a (click)="deleteBoard(board, this.board.id)">Delete card</a>
        </div>
      </div>
    </div>
  </div>
</div>
