.card {
 margin: 1% 1% 1% 2.05%;
}
.btn {
  width: 100%;
  margin-bottom: 2%;
}
.btnAdd {
  margin-top: 2%;
}
.deleteX {
  cursor: pointer;
}
.boardTitle {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  font-size:1.5em;
  font-family: 'Segoe Print';
}

.container {
  font-family: 'Arial, sans-serif';
}

p {
 font-size: 20px;
}

#dashboard {
  cursor: pointer;
  opacity: 0.95
}

.dashboard {
  position: absolute;
  margin: 0 auto;
}

@media screen and (width: 360px) {
  .card {
   margin: 50% 10% 10% 10%;
   width: 300px;
  }
}

@media screen and (width: 414px) {
  .card {
   margin: 50% 10% 10% 10%;
   width: 340px;
  }
}

@media screen and (width: 411px) {
  .card {
   margin: 50% 10% 10% 10%;
   width: 340px;
  }
}

@media screen and (width: 320px) {
  .card {
   margin: 50% 10% 10% 10%;
   width: 260px;
  }
}

@media screen and (width: 375px) {
  .card {
   margin: 50% 10% 10% 10%;
   width: 300px;
  }
}




