<div class="text" style="font-family: 'Arial, sans-serif'">
  <div *ngIf="auth.user | async as user">
    <h4 class="center-align" style="color:white">User account of: {{user.displayName}}</h4>

    <div [hidden]="edit" class="container">
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img [src]="user.photoURL" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s9">
              <h5 class="center-align">Username: {{user.displayName}}</h5>
              <h5 class="center-align">Email: {{user.email}}</h5>
              <h5 class="center-align">User ID: {{user.uid}}</h5>
              <button (click)="setEdit()" class="btn blue center">Edit your profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div [hidden]="!edit" class="container">
      <div class="col">
        <div class="card-panel">
          <div class="row valign-wrapper">
            <div class="col s12 m12">
              <label>Enter new name:
                <input [(ngModel)]="user.displayName" />
              </label>
              <label>Enter new email:
                <input [(ngModel)]="user.email" />
              </label>
              <label>Paste profile picture by URL (copy URL your new photo and paste pls):
                <input [(ngModel)]="user.photoURL" />
              </label>
              <button (click)="saveChanges(user)" class="btn blue center">Save</button>
              <button class="btn blue" routerLink='/dashboard'>Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>