<style>
  .card{
    height: 150px;
    margin: 10px 10px 10px 10px;
  }
  .btn{
    width: 100%;
    margin-bottom: 2%;
  }
  .btnAdd{
    margin-top: 2%;
  }
  .deleteX{
      cursor: pointer;
    }
    .boardTitle{
      cursor: pointer;
    }
</style> 

    <div *ngIf="auth.user | async as user">
        <div class="container row">
            
            <h5 class="center-align">Welcome {{user.displayName}}</h5>
            <p class="center-align">Here you can create boards, then you can create lists and inside these
                lists you can create notes. The notes can be dropped and draged from one list into the other.
            </p>       
            
 
                <input class="col s7 left" type="text" placeholder="What is the title of your new board?" #boardTitle>
                <select class="browser-default validate col s4 right" #boardColor>
                    <option value="" disabled selected>Add a color</option>
                    <option class="red" value="red">Red</option>
                    <option class="pink" value="pink">Pink</option>
                    <option class="cyan" value="cyan">Cyan</option>
                    <option class="teal" value="teal">Teal</option>
                    <option class="blue" value="blue">Blue</option>
                    <option class="indigo" value="indigo">Indigo</option>
                    <option class="purple" value="purple">Purple</option>
                    <option class="green" value="green">Green</option>
                    <option class="lime" value="lime">Lime</option>
                    <option class="yellow" value="yellow">Yellow</option>
                    <option class="amber" value="amber">Amber</option>
                    <option class="orange" value="orange">Orange</option>
                    <option class="gray" value="gray">Gray</option>
                </select>

            <button class="btn blue" (click)="addBoard(boardTitle.value, boardColor.value, this.user.uid); boardTitle.value=''; boardColor.value=''">Add a new Board</button>
          
            <div class="row col s12"> 
              <div *ngFor="let board of boards" class="card {{board.color}} col s3">
                  <h5 routerLink="/lists/{{board.id}}" class="boardTitle" >{{board.title}}</h5>
                  <br>
                  <h3 (click)="deleteBoard(board, this.board.id)" class="right red-text deleteX">X</h3>          
              </div>
            </div>


          </div>
    </div>


