
  <div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
  
  <ng-template #guest>
      <div class="container">
          <h3 class="center-align">Howdy, GUEST</h3>
          <h5 class="center-align">Login to get started...</h5>
          
          <button class="btn" (click)="auth.googleLogin()">
              <i class="fa fa-google"></i> Login / Register with Google
          </button>
    
        </div>
        <div class="bottom">
          <img src="./assets/img/logo.png" style="width: 70%"/>  
      </div>
  
  </ng-template>
  
  <ng-template #authenticated>
      <div *ngIf="auth.user | async as user">
          <div class="container">
              
              <h3 class="center-align">Welcome {{user.displayName}}</h3>              
              <h5 class="center-align">Here you can greate boards, then you can create lists and inside these
                lists you can create notes. The notes can be dropped and draged from on list into the other.
              </h5>
  
              <button class="btn indigo" routerLink='/dashboard' (click)="getUid(user.uid)">Go to your Dashboard</button> 
              <button class="btn blue" routerLink='/user-profile'>Edit your user profile</button> 
              <button class="btn" (click)="auth.signOut()">Logout</button> 
  
            </div>
      </div>
      <div class="bottom">
        <img src="./assets/img/logo.png" style="width: 70%"/>  
    </div>
  </ng-template>
  
  
  