/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background: linear-gradient(to bottom, rgba(33, 150, 243, 0.85), rgba(64, 266, 213, 0.8));
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  margin: 0;
  padding: 0;
  }